<div id="<%= dom_id admin_account %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= admin_account.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account type:</strong>
    <%= admin_account.account_type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Acount number:</strong>
    <%= admin_account.account_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account name:</strong>
    <%= admin_account.account_name %>
  </p>

</div>
