<%= turbo_frame_tag "rate_form" do %>
  <div class="w-screen h-screen fixed inset-0 bg-blue bg-opacity-10 flex justify-center items-center">

    <!-- Modal -->
    <div class="w-[30%] bg-white rounded-lg p-5 shadow">
      <div class="flex justify-between mb-4">
        <div class="font-bold text-xl">Update exchange rate</div>

        <%= link_to "X", settings_exchange_rates_path, 
        class: "font-bold text-xl" %>
      </div>

      <div class="text-lg font-light">
        Current value: <%= @current_rate.value %>
      </div>
    
      <%= form_with(model: @exchange_rate, url: settings_exchange_rates_path, class: "contents") do |form| %>
        <div class="my-5 text-lg font-light">
          <%= form.label "New value: " %>
          <%= form.text_field :value, class: "outline-none h-[20px] w-[70px] border-0 border-b-2 border-solid border-black focus:ring-0" %>
        </div>

        <div class="w-[70%] h-[35px] bg-blue rounded text-center text-white m-auto">
          <%= form.submit "Update Exchange Rate" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
