<!DOCTYPE html>
<html>
  <head>
    <title>Cedis2rmbPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-body_bg">
    <main class="w-[100%]">
      <% if user_signed_in? %>
        <div class="w-[100%] flex">
          <%= render "layouts/side_nav" %>
          <p class="notice"><%#= notice %></p>
          <p class="alert"><%#= alert %></p>
          <div class="w-[100%]">
            <%= render "layouts/header" %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
